/* 마우스 오버 (말풍선) css */
.Skill_skill30__CEeFI {
    position: relative;
    display: inline-block;
    margin: auto;
}

.Skill_skill30__CEeFI .Explain_box_P {
    visibility: hidden;
    width: 300px;
    height: auto;
    background: linear-gradient(270deg,rgba(10,10,10,.9),rgba(20,20,20,.9));
    border: solid 2px #333333;
    padding: 0;
    color: white;
    text-align: center;
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -110px;
    margin-bottom: 10px;
    z-index: 13;
}

.Skill_skill30__CEeFI .Explain_box_Q {
    visibility: hidden;
    width: 300px;
    height: auto;
    background: linear-gradient(270deg,rgba(10,10,10,.9),rgba(20,20,20,.9));
    border: solid 2px #333333;
    padding: 0;
    color: white;
    text-align: center;
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -110px;
    margin-bottom: 10px;
    z-index: 13;
}

.Skill_skill30__CEeFI .Explain_box_W {
    visibility: hidden;
    width: 300px;
    height: auto;
    background: linear-gradient(270deg,rgba(10,10,10,.9),rgba(20,20,20,.9));
    border: solid 2px #333333;
    padding: 0;
    color: white;
    text-align: center;
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -110px;
    margin-bottom: 10px;
    z-index: 13;
}

.Skill_skill30__CEeFI .Explain_box_E {
    visibility: hidden;
    width: 300px;
    height: auto;
    background: linear-gradient(270deg,rgba(10,10,10,.9),rgba(20,20,20,.9));
    border: solid 2px #333333;
    padding: 0;
    color: white;
    text-align: center;
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -110px;
    margin-bottom: 10px;
    z-index: 13;
}

.Skill_skill30__CEeFI .Explain_box_R {
    visibility: hidden;
    width: 300px;
    height: auto;
    background: linear-gradient(270deg,rgba(10,10,10,.9),rgba(20,20,20,.9));
    border: solid 2px #333333;
    padding: 0;
    color: white;
    text-align: center;
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -110px;
    margin-bottom: 10px;
    z-index: 13;
}

.Skill_skill30__CEeFI:hover .Explain_box_P {
    visibility: visible;
}

.Skill_skill30__CEeFI:hover .Explain_box_Q {
    visibility: visible;
}

.Skill_skill30__CEeFI:hover .Explain_box_W {
    visibility: visible;
}

.Skill_skill30__CEeFI:hover .Explain_box_E {
    visibility: visible;
}

.Skill_skill30__CEeFI:hover .Explain_box_R {
    visibility: visible;
}

.skill_name {
    margin-left: 10px;
    color: darkorange;
    font-weight: bold;
}

.skill_Desc {
    margin-left: 10px;
    color: white;
    width: 275px;
}

/* 헤더 css */
header {
    background-color: #333333;
    opacity: 0.8;
    width: 2000px;
    height: 80px;
    z-index: 13;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    /* width: 100% */
    left: 0;
    right: 0;
}

.menu_img {
    width: 70px;
    height: 55px;
    margin-left: 25px;
}

h2 {
    margin-left:50px;
}

/*챔피언 백그라운드 창 css*/
body {
    background-image: url("/resources/images/Aurelion Sol Teasing Wallpaper.png");
    background-color: #111;
    margin: 48px 0 0;
    height: 100vh;
    background-size : cover;
    color: #fff;
    font-family: "Roboto",Arial,sans-serif;
    font-display: optional;
    text-size-adjust: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    /* 배경이미지는 최소 1920*960으로 제작해야 문제가 안생김 */
    background-repeat: no-repeat;
    /* 요소를 비율에 맞게 커버 */
    background-position: center;
    /* 이미지를 요소의 정가운데로 처리 */
    background-attachment: fixed;
    /* 스크롤바 움직일때 이미지가 따라다님 */
    overflow: auto;
}

.Background_back__29qGw {
    pointer-events: none;
    opacity: .3;
    top: 48px;
    left: 0;
    right: 0;
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: 100% 0;
    position: fixed;
    z-index: -1;
}

.Background_back__29qGw:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(transparent,#111) 0 repeat;
}

/*챔피언 스킬 설명 말풍선*/
/*따로 로직 구성하기/

/*챔피언 헤더 css*/
.Wrapper_wrapper__3izJT, .Wrapper_wrapperstep__1Gsea {
    margin-left: auto;
    margin-right: auto;
    width: 1036px;
}

.Wrapper_content__1wGv- {
    margin-left: 180px;
    margin-right: 180px;
    min-height: calc(100vh - 10px);
}

.ChampionHeader_champion__2ZqIZ {
    grid-template-columns: 171px 375px 80px 400px;
}

.ChampionHeader_header__TkIzw {
    min-height: 225px;
    margin-top: 150px;
    margin-bottom: 10px;
    background: linear-gradient(90deg,rgba(16,16,16,.8),rgba(33,33,38,.8));
    border: 3px solid #333333;
    display: grid;
}

.champion_blurb_desc {
    width: 570px;
    text-align: justify;
}

.ChampionHeader_header__TkIzw>div:first-child {
    margin-top: 10px;
    margin-left: 40px;
}

.CircleBig_wrapper__3hOuX {
    position: relative;
    display: inline-block;
    width: 174px;
    height: 147px;
    overflow: hidden;
    margin-left: 8px;
    margin-top: 7px;
}

.Champ_champ140c__ZSREE {
    top: 3px;
    left: 2px;
    width: 140px;
    height: 140px;
}

.Champ_champ100c__24pmL, .Champ_champ140c__ZSREE {
    position: absolute;
    border-radius: 50%;
    z-index: 12;
    margin-left: 10px;
}

.CircleBig_border__3QsNj {
    position: absolute;
    overflow: visible;
    top: 1px;
    left: 0;
    margin-right: -140px;
    z-index: 11;
    width: 146px;
    pointer-events: none;
    margin-left: 10px;
}

.CircleBig_lane__2qKzs {
    position: absolute;
    top: 11px;
    left: 134px;
    width: 33px;
    height: 27px;
    z-index: 8;
}

.CircleBig_laneborder__2kf6I {
    position: absolute;
    overflow: visible;
    top: 1px;
    left: 127px;
    width: 46px;
    height: 46px;
    z-index: 7;
}

.CircleBig_tier__ul2zF {
    text-align: center;
    position: absolute;
    top: 110px;
    left: 135px;
    width: 29px;
    height: 29px;
    z-index: 8;
    font-size: 20px;
    color: #fff;
}

.CircleBig_tierborder__16GoL {
    position: absolute;
    overflow: visible;
    top: 100px;
    left: 127px;
    width: 46px;
    height: 46px;
    z-index: 7;
}

.SkillList_wrapper__1HtlM {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin-top: 15px;
}

.Skill_skill30__CEeFI, .Skill_skill30__CEeFI img {
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

.Skill_skill30__CEeFI {
    border: 1px solid #666;
    border-radius: 5px;
    /*overflow: hidden;*/
    font-size: 0;
}

img {
    font-size: 0;
}

.ChampionHeader_header__TkIzw>div:nth-child(2) {
    padding-left: 80px;
    padding-top: 25px;
    text-shadow: 2px 2px 4px #f2f2f2;
    font-size: 14px;
}

.ChampionHeader_header__TkIzw h1 {
    font-size: 34px;
    line-height: 30px;
    margin-top: 0;
    margin-bottom: 8px;
}

.ChampionHeader_header__TkIzw h2 {
    font-size: 17px;
    margin-top: 0;
    margin-bottom: 8px;
}

.ChampionHeader_header__TkIzw p {
    font-size: 13px;
    line-height: 20px;
    /* background-color: rgba(0,0,0,.5); */
    /*width: 574px;*/
    /*text-align: justify;*/
}

.Circle_circle__1UKAB {
    height: 80px;
}

.ChampionHeader_champion__2ZqIZ>div:nth-child(4) {
    display: grid;
    grid-template-columns: 65px 65px 50px 70px 70px 70px;
    text-align: center;
    font-size: 14px;
    padding: 0 0 0 10px;
}

.ChampionHeader_stats__f84LW>div {
    font-size: 12px;
    color: #bbb;
    height: 270px;
}

.Any_champion__d4yj0 {
    position: relative;
    top: -230px;
    right: -636px;
    margin-bottom: -225px;
}

.Any_champion__d4yj0, .Any_front__3IKmB {
    overflow: hidden;
    width: 400px;
    height: 225px;
    background: #000;
    z-index: 99;
}

.Skill_skill30__CEeFI div {
    text-align: center;
    color: #ccc;
    font-size: 12px;
    background-color: #000;
    width: 12px;
    line-height: 14px;
    position: relative;
    /*top: -16px;*/
    right: -16px;
    pointer-events: none;
}

/*챔피언 분석 창 css*/
.Summary_quick__3le_e {
    padding-top: 10px;
    padding-bottom: 25px;
    padding-inline: 100px;
    overflow: hidden;
    color: #fff;
    min-height: 40px;
    background: linear-gradient(90deg,rgba(16,16,16,.8),rgba(33,33,38,.8));
    margin: 0 0 8px;
    border: 3px solid #333;
    border-radius: 3px;
}

.Summary_row1__3rZk8 {
    display: grid;
    grid-template-columns: 400px 520px 135px 142px;
    font-size: 15px;
    line-height: 30px;
    text-align: center;
    height: 35px;
}

.Tip_q__3v_Eo, .Tip_qinline__3rgRn {
    display: inline-block;
    font-weight: 700;
    color: #333;
    text-shadow: 0 2px 2px rgb(0 0 0 / 40%);
    cursor: help;
    border-radius: 100%;
    background-color: #eee;
    font-size: 10px;
    border: 1px solid #333;
    width: 14px;
    height: 14px;
    top: -8px;
    position: relative;
    line-height: 14px;
    text-align: center;
}

.Summary_row2__3iVg7 {
    display: grid;
    grid-template-columns: 220px 400px 200px 200px 200px;
    text-align: center;
}

.SkillPriority_skillpriority__oC3Z5>div {
    display: inline-block;
    width: 700px;
}

.Skill_skill36__yk-DO, .Skill_skill36__yk-DO img {
    height: 36px;
    width: 36px;
}

.Skill_skill36__yk-DO {
    border-radius: 6px;
    border: 1px solid #666;
    overflow: hidden;
    font-size: 0;
}

.SkillPriority_skillnext__38Exi {
    font-size: 24px;
    vertical-align: top;
    margin: 0 8px;
}

.Summary_pickwin__PRaVa {
    font-size: 10px;
    margin-top: 6px;
    width: 100%;
}

.Summary_title__1Mkrz {
    font-size: 14px;
    line-height: 28px;
    display: inline-block;
    text-align: center;
}

.Summary_items__1Hq4v {
    text-align: center;
}

.Spell_spell32br__og7Xy {
    width: 32px;
    height: 32px;
    border: 1px solid #666;
    border-radius: 5px;
}

.Summary_items__1Hq4v>div {
    display: inline-block;
    vertical-align: top;
}

.Summary_pickwin__PRaVa span {
    font-size: 10px;
    color: #aaa;
    margin: 6px 0;
}

.SkillOrder_light__2BKVU {
    color: #fff;
}

.SkillOrder_dark__a0lv0>div>div:first-child, .SkillOrder_light__2BKVU>div>div:first-child {
    margin-right: 5px;
}

.SkillOrder_dark__a0lv0>div>div, .SkillOrder_light__2BKVU>div>div {
    font-size: 10px;
    display: inline-block;
    height: 24px;
    vertical-align: top;
    text-align: center;
    margin-bottom: 2px;
}

.Skill_skill24__272D3, .Skill_skill24__272D3 img {
    width: 24px;
    height: 24px;
}

.Skill_skill24__272D3 {
    border-radius: 4px;
    overflow: hidden;
    font-size: 0;
}

.SkillOrder_light__2BKVU>div>div:not(:first-child) {
    border: 1px solid #30687a;
    width: 15px;
}

.SkillOrder_light__2BKVU .SkillOrder_active__1t7oF {
    background-color: #3a7e93;
    line-height: 22px;
}

.SkillOrder_dark__a0lv0>div>div, .SkillOrder_light__2BKVU>div>div {
    font-size: 10px;
    display: inline-block;
    height: 24px;
    vertical-align: top;
    text-align: center;
    margin-bottom: 2px;
}

.champion_skill_slot {
    top: -14px;
}

.Summary_pickwin__PRaVa {
    font-size: 10px;
    margin-top: 6px;
    width: 100%;
}

.Summary_pickwin__PRaVa div:first-child {
    margin: 1px 0;
}

.Summary_pickwin__PRaVa>div, .Summary_pickwin__PRaVa>div>div {
    display: inline-block;
}

.Summary_runes__1b7qR {
    width: 120px;
    margin: 0 auto;
}

.RuneSet_rune__3PQbj {
    max-width: 120px;
    margin: 0 auto;
}

.RuneSet_rune__3PQbj>div {
    display: flex;
    flex-flow: row;
    align-content: flex-start;
}

span.Summary_keystonegames__3ypEL {
    display: block;
    margin: 2px 0 0;
}

.Summary_row3__3lr5H {
    /*display: grid;*/
    grid-template-columns: 188px 216px 172px 216px 232px;
    font-size: 14px;
    line-height: 28px;
    margin-top: -1px;
}

.Summary_itemsrow__27AYY {
    display: grid;
    grid-template-columns: 188px 216px 172px 216px 232px;
    margin-bottom: 8px;
}

.Item_item32br__3G4j0 {
    width: 32px;
    height: 32px;
    border: 1px solid #666;
    border-radius: 5px;
}

img {
    font-size: 0;
}

.Summary_spacer__2XFIf {
    width: 6px;
}

.Summary_skillnext__1dEk0 {
    margin: 0 10px;
}

.Summary_win__2epkg {
    margin: 4px 0;
    font-size: 10px;
    display: block!important;
}

.Summary_pick__1tuJG {
    font-size: 10px;
    color: #aaa;
    display: block!important;
}

.Summary_or__2BEIC {
    display: inline-block;
    vertical-align: top;
    margin: 10px 10px 0;
    font-size: 12px;
}

.Skill_skill24__272D3 div {
    text-align: center;
    color: #ccc;
    font-size: 10px;
    line-height: 12px;
    background-color: #000;
    width: 10px;
    position: relative;
    top: -12px;
    right: -14px;
    pointer-events: none;
}

.Summary_row2__3iVg7 {
    display: grid;
    grid-template-columns: 220px 400px 200px 200px 200px;
    text-align: center;
}

.Build_Name_H {
    margin-top: -15px;
    text-align: end;
}

.champion_title_desc {
    padding-top: 6px;
    font-size: 20px;
}

.Master_Point_Div {
    width: 510px;
    line-height: 28px;
    padding-top: 10px;
    padding-left: 350px;
    text-shadow: 2px 2px 4px #f2f2f2;
}

.Master_Champion_Summoner {
    width: 230px;
}

.Master_Champion_Point {
    text-align: end;
    width: 80px;
}

.Master_Ranking {
    font-size: 20px;
    margin-top: 10px;
}

.Master_Summoner1 {
    color: gold;
    display: flex;
    height: 30px;
}

.Master_Summoner2 {
    color: silver;
    display: flex;
    height: 30px;
}

.Master_Summoner3 {
    color: peru;
    display: flex;
    height: 30px;
}

.Master_Summoner4 {
    display: flex;
    height: 30px;
}

.Master_Summoner5 {
    display: flex;
    height: 30px;
}

.Skill_Tree1 {
    /*border: solid 3px #333333;*/
}

.Skillimg {
    width: 45px;
}

td , th{
    width: 50px;
    text-align: center;
    border: solid 2px white;
    background: linear-gradient(90deg ,rgba(16,16,16,.8),rgba(33,33,38,.8));
}

.skill_rate {
    color: rgb(70, 175, 46);
    font-size: 13px;
}

.skill_cnt {
    color: #aaa;
    font-size: 13px;
}

/* --------------------------------- 룬 빌드 css --------------------------------------- */

.rune_build {
    width: 400px;
    height: 100px;
    padding-left: 450px;
}

.Rune_Build_Div2 {
    padding-top: 15px;
}

.Rune_Build_Div1_Rate {
    height: 60px;
    padding-left: 163px;
    white-space: nowrap;
}

.Rune_Build_Div2_Rate {
    height: 60px;
    padding-left: 163px;
    white-space: nowrap;
}

.Rune_Build_Div1_CNT {
    padding-left: 180px;
    white-space: nowrap;
}

.Rune_Build_Div2_CNT {
    padding-left: 180px;
    white-space: nowrap;
}

.First_Rune1 {
    transform: translateX(-15%);
}

.First_Rune2 {
    transform: translateX(-15%);
}

.Second_Rune1 {
    height: 130px;
}

.Second_Rune2 {
    height: 130px;
}

.Stats_Rune1 {
    padding-left: 30px;
}

.Stats_Rune2 {
    padding-left: 30px;
}

.Rune_Build_Rate {
    padding-left: 10px;
    height: 72px;
    color: rgb(70, 175, 46);
    font-size: 13px;
}

.Rune_Build_Div1_Rate {
    height: 20px;
}

.Rune_Build_Div2_Rate {
    height: 20px;
}

.Rune_Build_cnt {
    padding-left: 10px;
    height: 10px;
    color: #aaa;
    font-size: 13px;
}
.Domination_Malice_TasteOfBlood_A {
    padding-left: 25px;
}

.Domination_Malice_SuddenImpact_A {
    padding-left: 25px;
}

.Domination_Tracking_GhostPoro_A {
    padding-left: 25px;
}

.Domination_Tracking_EyeballCollection_A {
    padding-left: 25px;
}

.Domination_Malice_TasteOfBlood_B {
    padding-left: 25px;
}

.Domination_Malice_SuddenImpact_B {
    padding-left: 25px;
}

.Domination_Tracking_GhostPoro_B {
    padding-left: 25px;
}

.Domination_Tracking_EyeballCollection_B {
    padding-left: 25px;
}

.Precision_Heroism_Triumph_A {
    padding-left: 25px;
}

.Precision_Heroism_PresenceOfMind_A {
    padding-left: 25px;
}

.Precision_Legend_LegendTenacity_A {
    padding-left: 25px;
}

.Precision_Legend_LegendBloodline_A {
    padding-left: 25px;
}

.Precision_Combat_CutDown_A {
    padding-left: 25px;
}

.Precision_Combat_LastStand_A {
    padding-left: 25px;
}

.Precision_Heroism_Triumph_B {
    padding-left: 25px;
}

.Precision_Heroism_PresenceOfMind_B {
    padding-left: 25px;
}

.Precision_Legend_LegendTenacity_B {
    padding-left: 25px;
}

.Precision_Legend_LegendBloodline_B {
    padding-left: 25px;
}

.Precision_Combat_CutDown_B {
    padding-left: 25px;
}

.Precision_Combat_LastStand_B {
    padding-left: 25px;
}

.Domination_Malice_TasteOfBlood_As {
    padding-left: 19px;
}

.Domination_Malice_SuddenImpact_As {
    padding-left: 19px;
}

.Domination_Tracking_GhostPoro_As {
    padding-left: 19px;
}

.Domination_Tracking_EyeballCollection_As {
    padding-left: 19px;
}

.Domination_Malice_TasteOfBlood_Bs {
    padding-left: 19px;
}

.Domination_Malice_SuddenImpact_Bs {
    padding-left: 19px;
}

.Domination_Tracking_GhostPoro_Bs {
    padding-left: 19px;
}

.Domination_Tracking_EyeballCollection_Bs {
    padding-left: 19px;
}

.Twoline_Rune1 {
    padding-top: 5px;
}

.Twoline_Rune2 {
    padding-top: 5px;
}

.Fourline_Rune1 {
    padding-top: 5px;
}

.Fourline_Rune2 {
    padding-top: 5px;
}

.Threeline_Rune1 {
    padding-top: 5px;
}

.Threeline_Rune2 {
    padding-top: 5px;
}

.Summary_Two1 {
    padding-top: 10px;
}

.Summary_Two2 {
    padding-top: 10px;
}

.Summary_Three1 {
    padding-top: 10px;
}

.Summary_Three2 {
    padding-top: 10px;
}

.Stats_5008_A {
    padding-top: 5px;
}

.Stats_5005_A {
    padding-left: 10px;
    padding-top: 5px;
}

.Stats_5007_A {
    padding-left: 10px;
    padding-top: 5px;
}

.Stats_5008_Aa {
    padding-top: 10px;
}

.Stats_5002_A {
    padding-top: 10px;
    padding-left: 10px;
}

.Stats_5003_A {
    padding-top: 10px;
    padding-left: 10px;
}

.Stats_5001_A {
    padding-top: 10px;
}

.Stats_5002_Aa {
    padding-top: 10px;
    padding-left: 10px;
}

.Stats_5003_Aa {
    padding-top: 10px;
    padding-left: 10px;
}

.Stats_5008_B {
    padding-top: 5px;
}

.Stats_5005_B {
    padding-left: 10px;
    padding-top: 5px;
}

.Stats_5007_B {
    padding-left: 10px;
    padding-top: 5px;
}

.Stats_5008_Bb {
    padding-top: 10px;
}

.Stats_5002_B {
    padding-top: 10px;
    padding-left: 10px;
}

.Stats_5003_B {
    padding-top: 10px;
    padding-left: 10px;
}

.Stats_5001_B {
    padding-top: 10px;
}

.Stats_5002_Bb {
    padding-top: 10px;
    padding-left: 10px;
}

.Stats_5003_Bb {
    padding-top: 10px;
    padding-left: 10px;
}

/* --------------------------------- 시작 아이템 빌드 css --------------------------------------- */

.start_item_img {
    width: 55px;
    height: 55px;
    margin-right: 15px;
    border: solid 2px sandybrown;
}

.Staring_Item_Build{
    display: flex;
    padding-left: 120px;
    /*padding-top: 60px;*/
}

.Starting_Build_Div1 {
    display: flex;
    margin-left: 20px;
}

.Starting_Build_Div2 {
    display: flex;
    margin-left: 20px;
}

.Starting_Build_Tree1 {
    /*padding-top: 40px;*/
}

.Starting_Build_Tree2 {
    padding-left: 110px;
    /*padding-top: 40px;*/
}

.start_item_rate {
    height: 10px;
    color: rgb(70, 175, 46);
    font-size: 13px;
    text-align: center;
}

.start_cnt {
    color: #aaa;
    font-size: 13px;
    text-align: center;
}

.Starting_Build_H {
    text-align: center;
}

/* --------------------------------- 아이템 빌드 css --------------------------------------- */

.Item_Build {
    display: flex;
}

.Item_Build_Div1 {
    display: flex;
    margin-left: 20px;
}

.Item_Build_Div2 {
    display: flex;
    margin-left: 20px;
}

.Item_Build_Div3 {
    display: flex;
    margin-left: 20px;
}

.Item_Build_H {
    text-align: center;
}

.item_build_rate {
    height: 10px;
    color: rgb(70, 175, 46);
    font-size: 13px;
    text-align: center;
}

.item_cnt {
    color: #aaa;
    font-size: 13px;
    text-align: center;
}

.Item_Build_Tree1 {
    padding-left: 115px;
}

.Item_Build_Tree2 {
    padding-left: 115px;
}

.Item_Build_Tree3 {
    padding-left: 115px;
}