/* .body  {
  text-align: center;  
  vertical-align : middle;
 } */


.b, .a {
  background-color: rgba(255, 255, 255, 0.575);
  border-radius: 20px;


}

.row{
  padding: 1px;
}

.summoner_info {
  border-radius: 20px;
}
.icon{
  margin: auto;
}


.img {
  width: 100%;
  /* -height: 80px; */
  border-radius: 10px;
  border-style: ridge;
  
}

.sum {
  width: 100%;
  height: 35px;
  display: inline-flex;
}
.bro{
  margin-top: auto;
  /* margin-left: 20px; */
}
.likename{
  width: auto;
}
.likeChamp{
  margin: auto;
}
.c {
  width: 25px;
  height: 25px;
  border-radius: 30%;

}
.simbol{
  width: 150px;
}
.info {
  
  display: inline-block;
  
}

.background {
  width: 100%;
  height: 100%;

  /* 배경이미지는 최소 1920*960으로 제작해야 문제가 안생김 */
  background-image: url('https://user-images.githubusercontent.com/26748614/96337246-f14d4580-1085-11eb-8793-a86d929e034d.jpg');
  background-repeat: no-repeat;
  /* 배경이미지X */
  background-size: cover;
  /* 요소를 비율에 맞게 커버 */
  background-position: center;
  /* 이미지를 요소의 정가운데로 처리 */
  background-attachment: fixed;
  /* 스크롤바 움직일때 이미지가 따라다님 */
  overflow: auto;
}

.champimg {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  border-style: groove;
}
#recode{
  border-radius: 20px;
}

.spellimg {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border-style: groove;
}

.runeimg {
  width: 30px;
  height: 30px;
}

.itemimg {
  width: 35px;
  height: 35px;
  border-radius: 30%;
  margin-left: 1px;
  margin-right: 1px;
  margin-bottom: 1px;
}

.champ, .champd, .champdd, .champs {
  display: inline-flex;
  vertical-align : middle;
  
  margin: auto;
}
.partner1 p, .partner2 p{
  font-size: 90%;
  font-weight: 600;
}

.champ{
  margin: auto;
}
p{
  text-align: center;
  margin: auto;
  color: rgb(0, 0, 0);


}

.partner1 p, .partner2 p, .gameInfo p, .kda p{
  color: rgb(0, 0, 0);
}
.teamblue p, .teamred p{
  color: black;
}

@font-face{
  font-family: 'RixYeoljeongdo_Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2102-01@1.0/RixYeoljeongdo_Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'BMHANNAPro';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_seven@1.0/BMHANNAPro.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

p, h1, h2, h3, h4, h5, .skillbuild td, a{
  font-family: 'RixYeoljeongdo_Regular';
}

.kda p{
  text-align: left;
}
.peritembuild, .gaeminfo{
  margin: auto;
}

.blueinfo, .redinfo{
  display: flex;
}
.win{
  font-weight: 600;
}
.skillimg{
  width: 40px;
  height: 40px;
  padding: 2px;
}



.btn {
  width: 63px;
  height: 50px;
}

.rune1, .rune2, .flex{
  display: block;
}
.recode, .selectBar, .total, .itembuild, .runebuild, .tskillbuild{
  display: none;
}

.opentotal, .openitem, .openrune, .openskill {
  text-align: center;  
}
.gameinfo, .detail{
  text-align: center;  
  
}
.partnerName, .teamside{
  text-align: center;
  margin: auto;
}
a{
  color: black;
  text-decoration-line: none;
}
.partner1,.partner2{
  margin-top: 2px;

}
.detail div{
  margin-top: 100px;
}

.totalInfo{
  height: 100px;
}

.timg{
  width: 30px;
  height: 30px;
  margin-top: 35px;
}

.property, .rune1, .rune2, .flex{
  text-align : center;
  
}

.property img{
  margin-top: 50%;
  width: 60px;
  height: 60px;
}
.bigrune img, .subproperty img{
  width: 50px;
  height: 50px;
}
.runeimg{
  padding: 1px;
}
td{
  width: 35px;
  text-align: center;
  margin: auto;
}
td img{
  width: 35px;
}
table{
  border-collapse: collapse;
}
th,td{
  border: 1px solid  rgba(89, 128, 165, 0.637);

}
.likeimg{
  width: 54px;
  height: 30px;
}
.like{
  text-align: center;
  margin: auto;
  display: inline-flex;
}