<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.best.team.member.dao.JoinDao">
    <select id="dupleCheck" resultType="boolean">
        select count(*) from member where ${checkType} = #{checkValue}
    </select>
    <insert id="joinComplete">
        insert into member values(#{m_id}, #{m_nickname}, #{m_email}, default, #{m_pw},
                                  #{m_phone}, #{m_auth_key}, default )
    </insert>


</mapper>