<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.best.team.championInfo.dao.ChampionInfoDao">
    <select id="getItemBulidWinRate" resultType="ItemBulidWinRate">
        select * from item_bulid_win_rate where championname = #{championName}
    </select>

    <select id="getSkillWinRate" resultType="SkillWinRate">
        select * from skill_bulid_win_rate where championname = #{championName}
    </select>

    <select id="getStartItemWinRate" resultType="StartItemWinRate">
        select * from start_item_win_rate where championname = #{championName}
    </select>

    <select id="getRuneBulidWinRate" resultType="RuneBulidWinRate">
        select * from rune_bulid_win_rate where championname = #{championName}
    </select>
</mapper>